.idea
*.pyc
__pycache__/
*.sh
local_tools/
*.ckpt
*.pth
infer_out/
*.onnx
/data/*
!/data/.gitkeep
/checkpoints/*
!/checkpoints/.gitkeep
/.venv/
/artifacts/
/.DS_Store
nnsvs-db-converter/venv/

.vscode
.ipynb_checkpoints/
