artifacts/
checkpoints/
venv/
.venv/
*.swp
data/
DiffSinger/
training_*.out
__pycache__/

*.onnx
*.ckpt
*.pt
*.zip
*.out
*.log
*.pyc
*.pyo
*.swp
artifacts/
data/NNSVS_training_data/
data/binary/
outputs/

commands.txt
19Apr-Commands.sh
